@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Assets/admin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/Assets/admin/images/img-01.png" alt="IMG">
                </div>

                @using (Html.BeginForm("UserLogin", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form", role = "form", id = "__AjaxAntiForgeryForm" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title">
                        Đăng nhập quản lý
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="User" placeholder="Email" id="EmailLogin">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="Password" placeholder="Password" id="PassLogin">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit" id="loginbtn">
                            Đăng nhập
                        </button>
                    </div>
                }

            </div>
        </div>
    </div>



    @*<script src="~/Assets/client/js/jquery.min.js"></script>*@

    <!--===============================================================================================-->
    <script src="~/Assets/admin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/admin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Assets/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/admin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/admin/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Assets/admin/js/main.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/admin/js/notify/notify.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/admin/js/jquery.validate.min.js"></script>
    <script src="~/Assets/admin/js/additional-methods.min.js"></script>

</body>
</html>

