

<div class="sidebar">
    <ul class="widget widget-menu unstyled">
        <li>
            <a href="/admin/manage/account">
                <i class="menu-icon icon-user"></i> Khách hàng
            </a>
        </li>
        <li>
            <a href="/admin/manage/product"><i class="menu-icon icon-bullhorn"></i> Sản phẩm </a>
        </li>
        <li>
            <a href="/admin/manage/cart">
                <i class="menu-icon icon-inbox"></i> Đơn hàng
            </a>
        </li>
        <li>
            <a href="/admin/manage/statictis">
                <i class="menu-icon icon-tasks"></i> Thống kê
            </a>
        </li>
    </ul>
</div>