


<!-- Start Facility Section-->
<section class="facility-section pb_large pt_large">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 facility-box box-1">
                <div class="facility-inner">
                    <div class="fb-icon">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="fb-text">
                        <h5>MIỄN PHÍ</h5>
                        <span>GIAO HÀNG</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 facility-box box-2">
                <div class="facility-inner">
                    <div class="fb-icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                    <div class="fb-text">
                        <h5>24/ 7 HỖ TRỢ</h5>
                        <span>GIÚP ĐỠ KHÁCH HÀNG</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 facility-box box-3">
                <div class="facility-inner">
                    <div class="fb-icon">
                        <i class="fa fa-cc-mastercard"></i>
                    </div>
                    <div class="fb-text">
                        <h5>THANH TOÁN</h5>
                        <span>HỆ THỐNG AN TOÀN</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 facility-box box-4">
                <div class="facility-inner">
                    <div class="fb-icon">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <div class="fb-text">
                        <h5>ĐÁNG TIN CẬY</h5>
                        <span>TẤT CẢ SẢN PHẨM</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Facility Section-->