<!-- Start Subscribe Section -->
<section class="subscribe-section pt_large pb_large">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title white-title text-center">
                    <h4>Theo dõi chúng tôi!</h4>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-12">
                <div class="subscribe-inner text-center">
                    <p>Để lại Email của bạn và đăng ký để cập nhật những thông tin mới nhất!</p>
                    <form class="subscribe-form">
                        <div class="subscribe-input">
                            <input name="your-email" required="" placeholder="Email của bạn" type="email">
                        </div>
                        <div class="send-btn">
                            <button type="submit" class="btn btn-primary">Đăng ký Shop</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Section -->