/ClothesShop/ClothesShop.BU/bin
/ClothesShop/ClothesShop.BU/obj
/ClothesShop/ClothesShop.Model/bin
/ClothesShop/ClothesShop.Model/obj
/ClothesShop/ClothesShop.BU/bin/Debug
/ClothesShop/ClothesShop.BU/obj/Debug
/ClothesShop/ClothesShop.Model/bin/Debug
/ClothesShop/ClothesShop.Model/obj/Debug
/ClothesShop/ClothesShop.Web/bin
/ClothesShop/ClothesShop.Web/obj
/ClothesShop/.vs