
@{
    ViewBag.Title = "Giới thiệu";
}


<!-- Start Breadcrumbs Section -->
<section class="breadcrumbs-section background_bg" data-img-src="/Assets/client/image/aboutus-breadcrumbs-img.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page_title text-center">
                    <h1>Giới thiệu</h1>
                    <ul class="breadcrumb justify-content-center">
                        <li><span>Đến với chúng tôi - Đến với sự chất lượng</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Header Section -->
<!-- Start Contact Detail Section -->
<section class="aboutus-inner-page pt_large pb_large">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-info-img">
                    <img src="/Assets/client/image/aboutus-info-img.jpg" alt="about-img">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-info">
                    <p>
                        ATZ Shop là một ngôi nhà với phương châm "Đồng hành cùng phong cách thời trang của bạn" sẽ là nơi mua sắm an toàn và uy tín, bởi chúng tôi luôn đề cao tiêu chí mang đến cho quý khách những sản phẩm chất lượng nhất với giá cả luôn phải chăng.
                        <br><br>
                        Hãy đến với thời trang ATZ Shop để được tận hưởng mọi phong cách của cuộc sống.
                    </p>
                    <ul class="about-points">
                        <li><span class="fa fa-hand-o-right"></span>Thời trang thế giới</li>
                        <li><span class="fa fa-hand-o-right"></span>Thời trang trong nước</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Detail Section -->
<!-- Start Event Section-->
<section class="event-section pt_large">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="event-box box-1">
                    <div class="event-icon">
                        <span class="ion-code-download"></span>
                    </div>
                    <p class="event-title">Sản phẩm đa dạng</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="event-box box-2">
                    <div class="event-icon">
                        <span class="ion-model-s"></span>
                    </div>
                    <p class="event-title">Vận chuyển nhanh</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="event-box box-3">
                    <div class="event-icon">
                        <span class="ion-thumbsup"></span>
                    </div>
                    <p class="event-title">Ưa chuộng</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Event Section-->
<!-- Start Contact Detail Section -->
<section class="counters-section background_bg" data-img-src="/Assets/client/image/counter-bc.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="counter-inner">
                    <span class="counter">225</span>
                    <p>Nhãn hiệu</p>
                </div>
                <div class="counter-inner">
                    <span class="counter">15</span>
                    <p>Cửa hàng</p>
                </div>
                <div class="counter-inner">
                    <span class="counter">202</span>
                    <p>Yêu thích</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Detail Section -->
